.formulario{
    width: 100%; 
    height: auto; 
    padding: 5vh
}
.calendario{
    width: 25%; 
    padding-left: 1%; 
    float: left
}

@media screen and (max-width: 1200px) {
    .calendario{
      width: 33%;
    }
}

@media screen and (max-width: 920px) {
    .calendario{
      width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .calendario{
      width: 100%;
    }
}