<div id="contenedorGeneral" ng-controller="calendariosCtrl">
  <div class="formulario">
      <form class="form-inline">
          <div class="form-group" style="margin-left: 1%">
            <label for="email">Por favor ingrese la fecha inicial</label>
            <input class="form-control" type="date" id="start" ng-model="calendarios.fechaInicial"/>
          </div>
          <div class="form-group" style="margin-left: 1%">
            <label for="pwd">Cantidad de dias:</label>
            <input type="number" min="0" class="form-control" id="dias" ng-model="calendarios.cantidadDias">
          </div>
          <button type="button" class="btn btn-primary" style="margin-left: 2%" ng-click="calendarios.limpiarPantalla()">Generar Calendarios</button>
          <hr>
        </form>
  </div>
  <div id="contenedorCalendarios" style="width: 100%;"></div>
</div>