<div id="contenedor" ng-controller="calendariosCtrl">
  <div class="formulario">
      <form class="form-inline">
          <div class="form-group" style="margin-left: 1%">
            <label for="email">Por favor ingrese la fecha inicial</label>
            <input class="form-control" type="date" id="start" ng-model="calendarios.fechaInicial"/>
          </div>
          <div class="form-group" style="margin-left: 1%">
            <label for="pwd">Cantidad de dias:</label>
            <input type="text" class="form-control" id="dias" ng-model="calendarios.cantidadDias">
          </div>
          <button type="button" class="btn btn-primary" style="margin-left: 2%" ng-click="calendarios.generarCalendarios()">Generar Calendarios</button>
          <hr>
        </form>
  </div>
  <div style="width: 100%;">
      <div style="width: 30%">
          <h2>Septiembre 2018</h2>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Dom</th>
                <th>Lun</th>
                <th>Mar</th>
                <th>Mie</th>
                <th>Jue</th>
                <th>vie</th>
                <th>Sab</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="items in calendarios.inspireList">
                <td ng-repeat="item in items">{{item.numDia}}</td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
</div>